body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: pink;
}
.menu{
    position: relative;
}
.boxsearch{
    position: absolute;
    top: 19px;
    right: 100px;
}
.image{
    margin: 8px;
    width: 55px;
}
/* hiệu ứng chữ */
.menu>ul>li{
    display: inline-block;
    position: relative;
}
.menu>ul>li>a{
    display: block;
}
.menu>ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    background-color: orangered;
}
.menu>ul>li>a{
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    color: white;
    padding: 0 10px;
    line-height: 70px;
}
.menu>ul>li>a:hover{
    color: yellow;
    background-color: greenyellow;
}
.menu ul ul{
    position: absolute;
    display: none;
    padding: 0px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0 0 1px gray;
}
.menu ul ul a{
    display: block;
    line-height: 30px;
    color: orangered;
    text-decoration: none;
    font-variant: small-caps;
    font-size: larger;
    padding: 0 10px;
}
.menu>ul>li:hover>ul{
    display: block;
}
.menu ul ul a:hover{
    background-color: orangered;
    color: white;
}
.ul-flex-menu{
    display: flex;
}
/* banner 2 */
.image3{
    width: 100%;
}
/* PHụ kiện thể thao */
.sport{
    position:relative;
    width: 100%;
}
.sport .heading5{
    font-size: 28px;
    color: #24A19C;
    margin:  20px 0;
    text-align: center;
}
.heading5:after{
    position: absolute;
    content: "";
    width: 200px;
    height: 5px;
    background-color: #24A19C;
    top: 50px;
    left: 42%;
}
.container {
    position: relative;
    width: 20%;
    margin: 30px;
    float: left;
  } 
  .image9 {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .container:hover .image9 {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
.sale{
    position: absolute;
    bottom: 0;
    left: 30%;
}
/* icon button */
.button {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 39px;
    right: 30px;
    background-color: blue;
    border-radius: 50%;
    opacity: 0.6;
    z-index: 1;
}
.button > a {
    color: white;
    font-size: 40px;
    position: absolute;
    left: 11px;
    bottom: 0px;
    text-decoration: none;
}
.button:hover{
    background-color: crimson;
}
/* fotter */
.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
footer{
    position: relative;
    clear: both;
}
.mid{
    position: absolute;
    top: 0px;
    left: 350px;
}
.left{
    position: absolute;
    top: 0px;
    left: 700px;
}